<table class="table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Words</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% if word_lists.any? %>
      <% word_lists.each.with_index do |w, i| %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= w[:name] %></td>
          <td><%= w[:word_count] %></td>
          <td><%= w[:created_at] %></td>
          <td>
            <%= link_to "Browse", routes.word_list_path(w[:id]), class: "paper-btn" %>
            <%= link_to "Edit", routes.edit_word_list_path(w[:id]), class: "paper-btn" %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="10" align="center">
          No lists present. You can create a new one <%= link_to "here", routes.new_word_list_path %>.
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
