<table class="table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Words</th>
      <th>Created At</th>
      <th>Last Word Added At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if word_lists.any? %>
      <% word_lists.each.with_index do |w, i| %>
        <tr>
          <td><%= w[:name] %></td>
          <td><%= w[:word_count] %></td>
          <td><%= w[:created_at].to_date %></td>
          <td><%= w[:last_word_created_at]&.to_date || "-" %></td>
          <td>
            <%= link_to "Learn", routes.learn_word_list_path(w[:id]) %>
            <%= link_to "Browse", routes.word_list_path(w[:id]) %>
            <%=
              link_to(
                "Delete",
                routes.word_list_path(w[:id]),
                "data-method": "DELETE",
                "data-confirm": "Are you sure you want to delete this list?",
                "data-disable-with": ""
              )
            %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="10" align="center">
          No lists present. You can create a new one <%= link_to "here", routes.new_word_list_path %>.
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
