<div class="row margin-bottom-none" id="word-list-show">
  <div class="col sm-12 margin-top-none">
    <div class="row">
      <h4 class="margin-none">
        <%=
          link_to(
            "",
            routes.print_word_list_path(word_list.id),
            class: 'paper-btn btn-secondary-outline btn-small fas fa-print',
            title: "Print this list",
            target: "_blank"
          )
        %>

        <% if word_list.editable_by?(current_user) %>
          <%=
            link_to(
              "",
              routes.learn_path(word_list_id: word_list.id),
              class: "paper-btn btn-success-outline btn-small margin-none fas fa-brain",
              title: "Learn this list"
            )
          %>

          <%=
            link_to(
              "",
              routes.edit_word_list_path(word_list.id),
              class: 'paper-btn btn-primary-outline btn-small fa fa-edit',
              title: "Edit list"
            )
          %>

          <%=
            link_to(
              "",
              routes.word_list_path(word_list.id),
              id: "delete-list-button",
              class: "paper-btn btn-danger-outline btn-small margin-none fas fa-trash-alt",
              "data-method": "DELETE",
              "data-confirm": "Are you sure you want to delete this list?",
              "data-disable-with": "",
              title: "Delete list"
            )
          %>
        <% end %>
      </h4>
    </div>

    <div class="row">
      <h4 class="margin-none">
        <strong>List:</strong>
        <%= word_list.name %>
      </h4>
    </div>

    <div class="row margin-bottom-none">
      <h4 class="margin-top-none margin-bottom-none">
        <strong>Words:</strong>
        <span class="badge secondary" id="word-count"><%= word_list.words.length %></span>
      </h4>
    </div>
  </div>
</div>

<% if word_list.editable_by?(current_user) %>
  <%= render partial: "words/form", locals: { word_list: word_list } %>
<% end %>

<div class="row" id="words-listing">
  <% word_list.words.each do |word| %>
    <%= render partial: "shared/flashcard", locals: { word: word, editable: word_list.editable_by?(current_user) } %>
  <% end %>
</div>

<%= javascript 'quick_add_word' %>
<%= javascript 'delete_word' %>
