<div class="row margin-bottom-none" id="word-list-show">
  <div class="col sm-12 margin-top-none">
    <h4 class="margin-none">
      <strong>List:</strong>
      <%= word_list.name %>

      <% if word_list.editable_by?(current_user) %>
        <%=
          link_to(
            "",
            routes.edit_word_list_path(word_list.id),
            class: 'paper-btn btn-secondary-outline btn-small fa fa-edit'
          )
        %>
      <% end %>
    </h4>

    <h4 class="margin-top-none">
      <strong>Words:</strong>
      <span class="badge secondary" id="word-count"><%= word_list.words.length %></span>
    </h4>

    <% if word_list.editable_by?(current_user) %>
      <button id="add-word-button">Add a word</button>
    <% end %>
  </div>
</div>

<% if word_list.editable_by?(current_user) %>
  <%= render partial: "words/form", locals: { word_list: word_list } %>
<% end %>

<div class="row" id="words-listing">
  <% word_list.words.each do |word| %>
    <%= render partial: "shared/flashcard", locals: { word: word, editable: word_list.editable_by?(current_user) } %>
  <% end %>
</div>

<%= javascript 'quick_add_word' %>
<%= javascript 'delete_word' %>
