<% tab_name = "tabs_#{rand}" %>
<% tab1_id = "#{tab_name}_tab1" %>
<% tab2_id = "#{tab_name}_tab2" %>

<div class="xs-12 sm-6 md-4 lg-3 col align-top flashcard-column">
  <div class="card">
    <div class="card-body">
      <div class="row tabs">
        <input id="<%= tab1_id %>" type="radio" name="<%= tab_name %>" checked>
        <label for="<%= tab1_id %>">Question</label>

        <input id="<%= tab2_id %>" type="radio" name="<%= tab_name %>">
        <label for="<%= tab2_id %>">Answer</label>

        <div id="<%= tab_name %>_content1" class="content">
          <h4 class="card-title flashcard-title"><%= word.question %></h4>
          <% if word.question_example %>
            <p class="card-text flashcard-example"><%= word.question_example %></p>
          <% end %>
        </div>
        <div id="<%= tab_name %>_content2" class="content">
          <h4 class="card-title flashcard-title"><%= word.answer %></h4>
          <% if word.answer_example %>
            <p class="card-text flashcard-example"><%= word.answer_example %></p>
          <% end %>
        </div>
      </div>
    </div>

    <% if editable %>
      <div class="card-footer">
        <div class="row margin-none padding-none">
          <%=
            form_for(
              :word_test,
              routes.word_path(word.id),
              remote: true,
              method: :delete,
              class: "delete-word-form",
              "data-method": "DELETE"
            ) do
              submit(
                class: "btn-danger margin-none fas fa-trash-alt",
                "data-disable-with": ""
              )
            end
          %>
        </div>
      </div>
    <% end %>
  </div>
</div>
