<nav class="border fixed split-nav">
  <div class="nav-brand">
    <h4 class="nav-brand-wrapper">
      <a href="/" class="nav-root-link">
        <img src="/logo_small.jpg" class="no-responsive no-border nav-logo" height="39px" width="39px" />
        <span class="nav-brand-name">Flashcard Genius</span>
      </a>
    </h4>
  </div>
  <div class="collapsible">
    <input id="collapsible1" type="checkbox" name="collapsible1">
    <label for="collapsible1">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </label>

    <div class="collapsible-body">
      <ul class="inline">
        <li><%= link_to 'New list', routes.new_word_list_path %></li>

        <% if current_user %>
          <li><%= link_to 'Learn', routes.learn_path %></li>
          <li><%= link_to 'My lists', routes.word_lists_path %></li>
          <li><%= link_to "Logout", routes.logout_path, "data-method": :delete %></li>
        <% else %>
          <li><%= link_to 'Sign in', routes.login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
