<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/papercss@1.6.1/dist/paper.min.css">
  <%= stylesheet "application" %>

  <title>FlashCards</title>
</head>
<body>
  <%= render partial: "shared/navbar" %>

  <div class="main-content">
    <%= render partial: "shared/flash_messages" %>

    <div class="row">
      <div class="col-12 col">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= javascript 'application' %>
</body>
</html>
