<!DOCTYPE html>
<html lang="en">
<head>

  <% if Hanami.env == "production" %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','<%= ENV['GTM_ID'] %>');</script>
    <!-- End Google Tag Manager -->
  <% end %>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Favico -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://unpkg.com/papercss@1.7.0/dist/paper.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>

  <!-- Font awesome -->
  <script src="https://kit.fontawesome.com/9b8361519a.js" crossorigin="anonymous"></script>

  <!-- Alertify.js -->
  <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

  <!-- Primary Meta Tags -->
  <title><%= page_title %></title>
  <meta name="title" content="<%= page_title %>">
  <meta name="description" content="<%= page_description %>">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://flashcard-genius.com/">
  <meta property="og:title" content="<%= page_title %>">
  <meta property="og:description" content="<%= page_description %>">
  <meta property="og:image" content="https://flashcard-genius.com/social-background.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://flashcard-genius.com/">
  <meta property="twitter:title" content="<%= page_title %>">
  <meta property="twitter:description" content="<%= page_description %>">
  <meta property="twitter:image" content="https://flashcard-genius.com/social-background.jpg">

  <%= csrf_meta_tags %>
  <%= stylesheet "application" %>
</head>
<body>
  <%= render partial: "shared/navbar" %>

  <div class="main-content">
    <%= render partial: "shared/flash_messages" %>

    <div class="row">
      <div class="col-12 col">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render partial: "shared/footer" %>

  <%= javascript 'application' %>
  <%= javascript "hanami-ujs" %>

  <% if Hanami.env == "production" %>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= ENV['GTM_ID'] %>"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  <% end %>
</body>
</html>
