<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/papercss@1.7.0/dist/paper.min.css">

  <script src="https://kit.fontawesome.com/9b8361519a.js" crossorigin="anonymous"></script>

  <%= stylesheet "application" %>

  <title>FlashCards</title>
</head>
<body>
  <%= render partial: "shared/navbar" %>

  <div class="main-content">
    <%= render partial: "shared/flash_messages" %>

    <div class="row">
      <div class="col-12 col">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render partial: "shared/footer" %>

  <%= javascript 'application' %>
</body>
</html>
