<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://unpkg.com/papercss@1.7.0/dist/paper.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>

  <!-- Font awesome -->
  <script src="https://kit.fontawesome.com/9b8361519a.js" crossorigin="anonymous"></script>

  <!-- Alertify.js -->
  <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

  <%= stylesheet "application" %>

  <title>Flashcard Genius</title>
</head>
<body>
  <%= render partial: "shared/navbar" %>

  <div class="main-content">
    <%= render partial: "shared/flash_messages" %>

    <div class="row">
      <div class="col-12 col">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render partial: "shared/footer" %>

  <%= javascript 'application' %>
  <%= javascript "hanami-ujs" %>
</body>
</html>
